@import "~materialize-css/dist/css/materialize.min.css";

html, body {
  background-color: #181818;
  width: 100%;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

select {
  display: block;
}

input {
  color: white;
}

.input-field label {
  color: white;
}